### Using Beautiful Soup to scrape Rotten Tomoatoes

In this notebook I will be using Beautiful Soup to scrape Nicolas Cage's profile on Rotten Tomatoes

I will then use Pandas to create a dataframe from the scraped data and save it to a .csv file for further visual analysis.

In [1]:
import pandas as pd
import requests
import bs4
import lxml

In [2]:
session = requests.Session()
session.headers["User-Agent"]

'python-requests/2.27.1'

In [3]:
res = requests.get("https://www.rottentomatoes.com/celebrity/nicolas_cage")

In [4]:
soup = bs4.BeautifulSoup(res.text,"lxml")

In [5]:
table = soup.find("table", attrs={"data-qa":"celebrity-filmography-movies"})
table_body = table.find("tbody")

Collect select data from rows using list comprehension

In [31]:
# Collect titles
data_title = [item["data-title"] for item in table.find_all("tr", attrs={"data-title" : True})]

In [32]:
# Collect box office data
# Note: I choose to insert "NULL" because None is converted to 0 when uploading a SQL client.
data_boxoffice = ["NULL" if item["data-boxoffice"] == "" else item["data-boxoffice"] for item in table.find_all("tr", attrs={"data-boxoffice" : True})]

In [33]:
# Collect release year
data_year = [item["data-year"] for item in table.find_all("tr", attrs={"data-year" : True})]

In [34]:
# Collect Rotten Tomatoes score

# Unlike the boxoffice data which will collect no data if there was no money made, the critic and audience scores will collect zero if no reviews were made. This is an issue since some of the movies have a zero rating because they were rated poorly by either critics or the audience. Therefore, additional parcing was needed in order to accurately reflect this discrepancy.

data_tomatometer = ["NULL" if (item.find_all("span", attrs={"data-tomatometer": 0}) and item.find_all("span", attrs={"class": "celebrity-filmography__no-score"})) else item["data-tomatometer"] for item in table.findAll("tr", attrs={"data-tomatometer" : True})]

In [35]:
# Collect audience scores
data_audiencescore = ["NULL" if (item.find_all("span", attrs={"data-audiencescore": 0}) and item.find_all("span", attrs={"class": "celebrity-filmography__no-score"})) else item["data-audiencescore"] for item in table.findAll("tr", attrs={"data-audiencescore" : True})]

Create single list from collected data

In [36]:
data = list(zip(data_title, data_boxoffice, data_year, data_tomatometer, data_audiencescore))

View new list

In [26]:
data

[('The Unbearable Weight of Massive Talent', '19490586', '2022', '87', '87'),
 ('Prisoners of the Ghostland', None, '2021', '62', '20'),
 ('Pig', '3138901', '2021', '96', '84'),
 ("Willy's Wonderland", '388722', '2021', '60', '68'),
 ('The Croods: A New Age', '58544525', '2020', '77', '94'),
 ('Jiu Jitsu', None, '2020', '28', '64'),
 ('Color Out of Space', '677283', '2019', '86', '82'),
 ('Grand Isle', None, '2019', '0', '45'),
 ('Primal', None, '2019', '37', '22'),
 ('Kill Chain', None, '2019', None, '31'),
 ('Running With the Devil', None, '2019', '24', '36'),
 ('A Score to Settle', None, '2019', '15', '17'),
 ('Between Worlds', None, '2018', '32', '82'),
 ('Spider-Man: Into the Spider-Verse', '190193195', '2018', '97', '93'),
 ('Becoming Iconic', None, '2018', None, '99'),
 ('Mandy', '1233694', '2018', '90', '67'),
 ('Teen Titans GO! to the Movies', '29553885', '2018', '91', '71'),
 ('211', None, '2018', '4', '9'),
 ('Looking Glass', None, '2018', '21', '10'),
 ('Looking Glass', None, '2018', None, None),
 ('The Humanity Bureau', None, '2017', '25', '22'),
 ('Mom and Dad', None, '2017', '75', '40'),
 ('Vengeance: A Love Story', '4526', '2017', None, '26'),
 ('Inconceivable', None, '2017', '31', '60'),
 ('Arsenal', None, '2017', '3', '17'),
 ('USS Indianapolis: Men of Courage', None, '2016', '17', '30'),
 ('Dog Eat Dog', None, '2016', '49', '19'),
 ('Army of One', None, '2016', '25', '26'),
 ('Snowden', '21562346', '2016', '61', '70'),
 ('The Trust', None, '2016', '63', '29'),
 ('Pay the Ghost', None, '2015', '10', '25'),
 ('The Runner', None, '2015', '24', '22'),
 ('Outcast', None, '2014', '4', '22'),
 ('Dying of the Light', None, '2014', '11', '15'),
 ('Left Behind', '13998282', '2014', '0', '4'),
 ('Tokarev', None, '2014', '12', '28'),
 ('Joe', '371897', '2013', '86', '68'),
 ('The Frozen Ground', None, '2013', '61', '50'),
 ('The Croods', '187165546', '2013', '72', '77'),
 ("Can't Stand Losing You: Surviving the Police", '23193', '2012', '39', '67'),
 ('Stolen', '289773', '2012', '20', '34'),
 ('A Thousand Words', '18438149', '2012', '0', '47'),
 ('Justice', None, '2011', '28', '39'),
 ('Ghost Rider: Spirit of Vengeance', '51774002', '2011', '18', '31'),
 ('Trespass', '16816', '2011', '11', '22'),
 ('Drive Angry', '10706786', '2011', '48', '37'),
 ('Season of the Witch', '24823283', '2011', '11', '30'),
 ("The Sorcerer's Apprentice", '63143812', '2010', '40', '53'),
 ('Kick-Ass', '48043505', '2010', '76', '81'),
 ('Bad Lieutenant: Port of Call New Orleans', '1697956', '2009', '86', '57'),
 ('Astro Boy', '19548064', '2009', '50', '50'),
 ('G-Force', '119420252', '2009', '22', '39'),
 ('Knowing', '79948113', '2009', '34', '42'),
 ('Bangkok Dangerous', '15279680', '2008', '9', '26'),
 ('National Treasure: Book of Secrets', '219961501', '2007', '36', '67'),
 ('Next', '17993461', '2007', '28', '53'),
 ('Ghost Rider', '115802596', '2007', '26', '48'),
 ('The Wicker Man', '18830', '2006', '15', '17'),
 ('World Trade Center', '70236496', '2006', '66', '60'),
 ('The Ant Bully', '28133159', '2006', '62', '42'),
 ('The Weather Man', '12469811', '2005', '59', '56'),
 ('Lord of War', '24127895', '2005', '61', '84'),
 ('National Treasure', '173001206', '2004', '46', '76'),
 ('Matchstick Men', '36873198', '2003', '82', '74'),
 ('The Life of David Gale', '19593740', '2003', '19', '81'),
 ('Sonny', '17639', '2002', '22', '41'),
 ('Adaptation', '22245861', '2002', '90', '85'),
 ('Windtalkers', '40911830', '2002', '33', '50'),
 ('Christmas Carol: The Movie', None, '2001', '13', '48'),
 ("Captain Corelli's Mandolin", '25528495', '2001', '28', '50'),
 ('Bel Air', None, '2000', None, None),
 ('Shadow of the Vampire', '8279017', '2000', '81', '74'),
 ('The Family Man', '75764085', '2000', '53', '67'),
 ('Gone in Sixty Seconds', '101643008', '2000', '25', '77'),
 ('Bringing Out the Dead', '16640210', '1999', '72', '70'),
 ('8MM', '36283504', '1999', '23', '52'),
 ('Snake Eyes', '55557996', '1998', '40', '35'),
 ('Welcome to Hollywood', None, '1998', None, '60'),
 ('City of Angels', '78745923', '1998', '58', '82'),
 ('Face/Off', '112276146', '1997', '92', '82'),
 ('Con Air', '101111259', '1997', '55', '75'),
 ('The Rock', '134067443', '1996', '68', '85'),
 ('Leaving Las Vegas', '29890321', '1995', '89', '85'),
 ('Kiss of Death', '14662444', '1995', '67', '37'),
 ('It Could Happen to You', '37791144', '1994', '71', '54'),
 ('Guarding Tess', '26180706', '1994', '56', '47'),
 ('Trapped in Paradise', '5821500', '1994', '5', '41'),
 ('Deadfall', '9183', '1993', '0', '26'),
 ('Amos & Andrew', '9461630', '1993', '17', '31'),
 ('Red Rock West', None, '1993', '97', '75'),
 ('Honeymoon in Vegas', '33489135', '1992', '65', '35'),
 ('Zandalee', None, '1991', '33', '29'),
 ('Fire Birds', '14760451', '1990', '10', '35'),
 ('Industrial Symphony No. 1: The Dream of the Broken Hearted',
  None,
  '1990',
  None,
  None),
 ('Wild at Heart', '14535649', '1990', '68', '81'),
 ('Time to Kill', None, '1990', None, '20'),
 ("Vampire's Kiss", '96699', '1989', '58', '53'),
 ('Moonstruck', '80022465', '1987', '94', '80'),
 ('Raising Arizona', '21105043', '1987', '90', '85'),
 ('The Boy in Blue', '235904', '1986', None, '43'),
 ('Peggy Sue Got Married', '37726832', '1986', '86', '55'),
 ('Racing With the Moon', None, '1984', '60', '62'),
 ('The Cotton Club', None, '1984', '77', '55'),
 ('Birdy', None, '1984', '83', '84'),
 ('Rumble Fish', None, '1983', '75', '80'),
 ('Valley Girl', None, '1983', '83', '72'),
 ('Fast Times at Ridgemont High', None, '1982', '78', '80')]

Create pandas dataframe from list

In [37]:
df = pd.DataFrame(data, columns = ["Title", "Boxoffice", "ReleaseYear", "RTScore", "AudienceScore"])

View new dataframe

In [38]:
df

,Title,Boxoffice,ReleaseYear,RTScore,AudienceScore
0,The Unbearable Weight of Massive Talent,19490586,2022,87,87
1,Prisoners of the Ghostland,NULL,2021,62,20
2,Pig,3138901,2021,96,84
3,Willy's Wonderland,388722,2021,60,68
4,The Croods: A New Age,58544525,2020,77,94
...,...,...,...,...,...
102,The Cotton Club,NULL,1984,77,55
103,Birdy,NULL,1984,83,84
104,Rumble Fish,NULL,1983,75,80
105,Valley Girl,NULL,1983,83,72
106,Fast Times at Ridgemont High,NULL,1982,78,80

Save dataframe to .csv file

In [39]:
df.to_csv("NicCageRT_csv.csv")

Save dataframe to excel file

In [ ]:
df.to_csv("NicCageRT_xlsx.xlsx")